<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESGenius</title>
    <link rel="icon" href="{{url_for('static',filename='images/agents.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="menu">
        <h2  clas="menu-header" onclick="toggleMenu()">
            <span class="toggle-arrow_menu">&#10094;</span> <!-- 右箭头 -->
            Menu
        </h2>
        <ul class="menu-content">
            <li><a href="{{ url_for('home') }}" class="menu-item active" onclick="switchTab(this)">永續問答</a></li>
            <li><a href="{{ url_for('generator_reporter') }}" class="menu-item" onclick="switchTab(this)">永續報告書撰寫</a></li>
            <li><a href="{{ url_for('check_reporter') }}" class="menu-item" onclick="switchTab(this)">報告評比系統</a></li>
            <hr>
            <li><a href="{{ url_for('gonvernment_rule') }}" class="menu-item" onclick="switchTab(this)">相關資料</a></li>
        </ul>
    </div>
    <div class="chat-box">
        <h2>ESGenius</h2>
        <div id="chat-content">
            <div class="message system-message">你好!我是ESGenius，你可以問我任何與ESG有關的問題!!</div>
        </div>
        <div class="input-box">
            <input type="text" id="user-input" placeholder="輸入訊息..." onkeyup="handleInput(event)" />
            <label onclick="sendMessage()" class="file-upload-label">
                <i class="fa fa-paper-plane"></i>
            </label>
            <!-- <label for="file-input" class="file-upload-label" >
                <i class="fa fa-paper-plane"></i> 
            </label> -->
        </div>
        
    </div>

    <script> 
        async function handleInput(event) {
            if (event.key === 'Enter') {
                var inputField = document.getElementById('user-input');
                var userMessage = inputField.value.trim();
                
                if (userMessage !== "") {
                    // 清空輸入框
                    inputField.value = "";

                    // 顯示用戶消息
                    var userMessageElement = document.createElement('div');
                    userMessageElement.className = 'message user-message';
                    userMessageElement.textContent = userMessage;
                    var chatContent = document.getElementById('chat-content');
                    chatContent.appendChild(userMessageElement);
                    chatContent.scrollTop = chatContent.scrollHeight;
                    // 發送消息到後端並處理回應
                    try {
                        let response = await fetch('/rule', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ message: userMessage })
                        });

                        if (response.ok) {
                            console.log(1)
                            let responseData = await response.json();
                            console.log(responseData)
                            // 使用 responseData.answer 而不是 responseData.response
                            displaySystemMessage(responseData); 
                            console.log(responseData.answer)
                        } else {
                            displaySystemMessage("無法獲得有效的回應");
                        }
                    } catch (error) {
                        console.error("Error:", error);
                        displaySystemMessage("無法連接到伺服器");
                    }
                }
            }
        }


        function displaySystemMessage(message) {
            console.log(message)
            var systemMessageElement = document.createElement('div');
            systemMessageElement.className = 'message system-message';
            systemMessageElement.innerHTML = message.answer.replace(/\n/g, "<br>");
            var chatContent = document.getElementById('chat-content');
            chatContent.appendChild(systemMessageElement);
            if(message.ref){
                var refMessageElement = document.createElement('div');
                refMessageElement.className = 'message ref-message';
                refMessageElement.textContent = message.ref.replace(/\n/g, "");
                chatContent.appendChild(refMessageElement);
            }
            // Scroll to latest message
            chatContent.scrollTop = chatContent.scrollHeight;
        }
        function sendMessage() {
            // 模擬 Enter 鍵事件
            var event = new KeyboardEvent('keyup', { key: 'Enter' });
            handleInput(event);
        }

    </script>
</body>
</html>
